
body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #de9b1d;
}


#calculator {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border: 2px solid black;
  background: #9DA6B7;
  box-shadow: inset -3px -3px 0 rgba(0,0,0,0.3),
              inset 3px 3px 0 rgba(255,255,255,0.4),
              8px 8px 0 #000;
   

}


#display{
  display: flex;
  border: 2px solid black;
  padding: 5px;
  height: 64px;
  background: #2FAC8D;
  font-family: "Doto", sans-serif;
  font-weight: 900;
  font-size: 3em;
  justify-content: end;
  align-items: center;
  box-shadow: inset 4px 4px 0 rgba(0,0,0,0.3), inset -2px -2px 0 rgba(255,255,255,0.2);

   background-image: repeating-linear-gradient(
                0deg,
                transparent,
                transparent 2px,
                rgba(0,0,0,0.1) 2px,
                rgba(0,0,0,0.1) 4px
            );

  overflow-x: auto;      /* Scroll horizontally if content overflows */
  
}

#buttons{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 4px;
padding: 4px;
margin-top: 4px;
}

.button{
  font-family: "Doto", sans-serif;
  font-weight: 900;
  font-size: 2em;
  justify-content: center;

  height: 48px;
  box-shadow: 
        inset 2px 2px 0 rgba(255,255,255,0.4),
        inset -2px -2px 0 rgba(0,0,0,0.3),
        2px 2px 0 rgba(0,0,0,0.3);  
}

#equals{
  grid-column: 4;
  grid-row: 5 / 7;
  background: #E43461;
  
}

#decimal{
  grid-column: 4;
  grid-row: 4;

  background-color: #FFC204;
}

#zero{
  grid-column: 2;

}

.number{
  background: #7275A4;
}

.operator{
  background: #FFC204;
}

#clear, #delete{
  background: #E43461;

}

#delete{
  font-size: 2em;
  padding-top: 6px;
}

button:active {
     transform: translate(2px, 2px);
      box-shadow: 
        inset 2px 2px 0 rgba(0,0,0,0.3),
        inset -1px -1px 0 rgba(255,255,255,0.2);
      }